{
  "openapi": "3.0.3",
  "info": {
    "title": "SmallWallets API",
    "version": "1.0.0",
    "description": "API for managing customer wallets, balances, and transactions.",
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.smallwallets.dev/v1",
      "description": "Production"
    },
    {
      "url": "https://sandbox.smallwallets.dev/v1",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Operations related to health."
    },
    {
      "name": "Wallets",
      "description": "Operations related to wallets."
    },
    {
      "name": "Transactions",
      "description": "Operations related to transactions."
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": ["Health"],
        "summary": "Health probe",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Health check request failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_health",
        "security": []
      }
    },
    "/wallets": {
      "get": {
        "tags": ["Wallets"],
        "summary": "List wallets",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Filter by the owning customer",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from a previous response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paged list of wallets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "get_wallets"
      },
      "post": {
        "tags": ["Wallets"],
        "summary": "Create wallet",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWalletRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Wallet created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "post_wallets"
      }
    },
    "/wallets/{walletId}": {
      "parameters": [
        {
          "name": "walletId",
          "in": "path",
          "required": true,
          "description": "Unique wallet identifier",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": ["Wallets"],
        "summary": "Retrieve wallet",
        "responses": {
          "200": {
            "description": "Wallet details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "get_wallets_walletId"
      },
      "patch": {
        "tags": ["Wallets"],
        "summary": "Update wallet",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWalletRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated wallet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "patch_wallets_walletId"
      },
      "delete": {
        "tags": ["Wallets"],
        "summary": "Archive wallet",
        "responses": {
          "204": {
            "description": "Wallet archived"
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "delete_wallets_walletId"
      }
    },
    "/wallets/{walletId}/deposit": {
      "post": {
        "tags": ["Wallets"],
        "summary": "Deposit funds",
        "parameters": [
          {
            "name": "walletId",
            "in": "path",
            "required": true,
            "description": "Wallet receiving funds",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepositRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Deposit accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "post_wallets_walletId_deposit"
      }
    },
    "/wallets/{walletId}/withdraw": {
      "post": {
        "tags": ["Wallets"],
        "summary": "Withdraw funds",
        "parameters": [
          {
            "name": "walletId",
            "in": "path",
            "required": true,
            "description": "Wallet sending funds",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Withdraw accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "post_wallets_walletId_withdraw"
      }
    },
    "/wallets/{walletId}/transactions": {
      "get": {
        "tags": ["Transactions"],
        "summary": "List transactions",
        "parameters": [
          {
            "name": "walletId",
            "in": "path",
            "required": true,
            "description": "Wallet owning the transactions",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "ISO timestamp lower bound",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "get_wallets_walletId_transactions"
      },
      "post": {
        "tags": ["Transactions"],
        "summary": "Record out of band transaction",
        "parameters": [
          {
            "name": "walletId",
            "in": "path",
            "required": true,
            "description": "Wallet receiving the transaction",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction stored",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "post_wallets_walletId_transactions"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "ok"
          }
        },
        "required": ["status"]
      },
      "Wallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "balance": {
            "type": "number",
            "format": "double"
          },
          "available": {
            "type": "number",
            "format": "double"
          },
          "status": {
            "type": "string",
            "enum": ["active", "archived"]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "customerId",
          "currency",
          "balance",
          "available",
          "status",
          "createdAt",
          "updatedAt"
        ]
      },
      "WalletListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Wallet"
            }
          },
          "nextCursor": {
            "type": "string",
            "nullable": true
          }
        },
        "required": ["data"]
      },
      "CreateWalletRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": ["customerId", "currency"]
      },
      "UpdateWalletRequest": {
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "enum": ["active", "archived"]
          }
        }
      },
      "DepositRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "format": "double",
            "minimum": 0.01
          },
          "currency": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          }
        },
        "required": ["amount", "currency"]
      },
      "WithdrawRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "format": "double",
            "minimum": 0.01
          },
          "currency": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          }
        },
        "required": ["amount", "currency"]
      },
      "TransferResponse": {
        "type": "object",
        "properties": {
          "transferId": {
            "type": "string"
          },
          "walletId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "completed", "failed"]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["transferId", "walletId", "status", "createdAt"]
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "walletId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["credit", "debit"]
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "currency": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "walletId",
          "type",
          "amount",
          "currency",
          "createdAt"
        ]
      },
      "TransactionListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "nextCursor": {
            "type": "string",
            "nullable": true
          }
        },
        "required": ["data"]
      },
      "CreateTransactionRequest": {
        "type": "object",
        "properties": {
          "idempotencyKey": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "currency": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["credit", "debit"]
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": ["idempotencyKey", "amount", "currency", "type"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["code", "message"]
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
