[package]
name = "helios-utils-approval-presets"
version.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
helios-protocol = { workspace = true }
